{% extends 'base.html' %}

{% block tiltle %}
    边进辉个人博客-首页
{% endblock %}

{% block content %}
  <div class="jztop"></div>
  <div class="container">
    <div class="bloglist f_l">
      {% for article in articles %}
      <h3><a href="/jstt/bj/2017-07-13/784.html">【{{ article.get_articleType_display }}】{{ article.title }}</a></h3>
      <figure><img src="/static/images/{{ article.picture }}" alt="【{{ article.get_articleType_display }}】{{ article.title }}"></figure>
      <ul>
        <p> {{ article.discription|safe }}</p>
        <a title="【{{ article.get_articleType_display }}】{{ article.title }}" href="/jstt/bj/2017-07-13/784.html" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
      </ul>
      <p class="dateview"><span>{{ article.time }}</span><span>作者：{{ article.author }}</span><span>个人博客：[<a href="/jstt/bj/">{{ article.get_articleType_display }}</a>]</span></p>
      {% endfor %}
    </div>
    <div class="r_box f_r">
      <div class="tit01">
        <h3 class="tit">关注我</h3>
        <div class="gzwm">
          <ul>
            <li><a class="email" href="#" target="_blank">我的电话</a></li>
            <li><a class="qq" href="#mailto:admin@admin.com" target="_blank">我的邮箱</a></li>
            <li><a class="tel" href="#" target="_blank">我的QQ</a></li>
            <li><a class="prize" href="#">个人奖项</a></li>
          </ul>
        </div>
      </div>
      <!--tit01 end-->
      
      <div class="tuwen">
        <h3 class="tit">图文推荐</h3>
        <ul>
          {% for article in articles %}
          <li><a href="/"><img src="/static/images/{{ article.picture }}"><b>{{ article.title }}</b></a>
            <p><span class="tulanmu"><a href="/">{{ article.get_articleType_display }}</a></span><span class="tutime">{{ article.time }}</span></p>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="ph">
        <h3 class="tit">点击排行</h3>
        <ul class="rank">
            {% for article in articles %}
              <li><a href="/jstt/bj/2017-07-13/784.html" title="【{{ article.get_articleFamily_display }}】{{ article.title }}" target="_blank">【{{ article.get_articleFamily_display }}】{{ article.title }}</a></li>
            {% endfor %}
        </ul>
      </div>
      <div class="ad"> <img src="/static/images/03.jpg"> </div>
    </div>
  </div>
  <!-- container代码 结束 -->
  <div class="jzend"></div>
{% endblock %}